.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form{
	font-size: 1.3em;
}

form label {
	margin: 13px;
}

form button{
	margin-top: 20px;
}

.buttonForm{
	display: flex;
	justify-content: center;
}

